@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/league_gothic-webfont.eot');
    src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic-webfont.woff2') format('woff2'),
         url('../fonts/league_gothic-webfont.woff') format('woff'),
         url('../fonts/league_gothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* ---------------------BACHGROUND:---------------------  */

.bc {
    max-width: 2400px;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.bc__header {
    height: 846px;
    background-image: url(../img/bc_header.jpg);
}

.bc__slider {
    height: 400px;
    background: rgba(0, 0, 0, 0.3);
}

.bc__about-us {
    height: 342px;
    background-image: url(../img/bc_about_us.png);
    background-repeat: repeat-x;
}

.bc__main {
    background-color: #f9f9f9;
}

.bc__line__top {
    height: 2px;
    padding: 0;
    background-image: url(../img/bc_line_top.png);
    background-repeat: repeat-x;
}

.bc__logos {
    background-color: #f9f9f9;
}

.bc__line__bottom {
    height: 2px;
    padding: 0;
    background-image: url(../img/bc_line_bottom.png);
    background-repeat: repeat-x;
}

.bc-footer__news {
    background-color: #ececec;
}

.bc-footer__menu {
    height: 114px;
    background-image: url(../img/bc_footer.jpg);
}

/* ---------------------ELEMENTS:---------------------  */

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'League Gothic';
    color: #fff;
}

li {
    list-style: none;
}

h1 {
    font-family: 'League Gothic';
    text-transform: capitalize;
    letter-spacing: -0.005em;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    margin: 0;
}

h2 {
    font-family: 'League Gothic';
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    color: #454545;
    margin: 0;
}

h4 {
    font-family: 'Open Sans';
    font-weight: bold;
    color: #454545;
    margin: 0;
}

p {
    font-family: 'Open Sans';
    font-weight: lighter;
    color: #454545;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: -0.004em;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0;
}

ul {
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
}

/* ---------------CONTAINER CONTENT:---------------  */

.content-box {
    margin: 0 auto;
    box-sizing: border-box;
}

/* ----------------------LOGO: ---------------------- */

.logo {
    display: block;
    font-family: 'League Gothic';
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}

.logo__top::after {
    content: "er";
    color: transparent;
    background: -webkit-gradient(linear, left bottom,left top,color-stop(0.1, #000),color-stop(0.7, #745083));, black;
    -webkit-background-clip: text;
    text-shadow: none;
}

/* ------------------------ MENU: ------------------------ */

.menu__link {
    padding: 0 6px;
    font-size: 24px;
    text-shadow: 1px 1px 1px #000;
}

.menu__link:hover {
    border-bottom: 2px solid #edbfff;
}

/* ------------------------ SLIDER LINK: ------------------------ */

.slider__play {
    width: 52px;
    height: 52px;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
}

.slider__play:hover {
    background: url(../img/Play.png) no-repeat;
}
