/* ---------------------CONTAINER CONTENT: --------------------- */
.bc__header {
    height: 798px;
}

.content-box {
    padding: 0 20px;
    width: 768px;
}

.content-box__top {
    height: 244px;
    padding-top: 63px;
}

.content-box__slider {
    height: 400px;
}

.content-box__about-us {
    height: 342px;
    padding: 78px 16px 0 83px;
}

.content-box__blog {
    height: 487px;
    padding-top: 101px;
}

.content-box__logos {
    height: 119px;
    padding: 25px 0 0 22px;
}

.content-box__footer__top {
    height: 395px;
}

.content-box__footer__bottom {
    height: 114px;
    padding-top: 31px;
}

/* ---------------------CONTAINER CONTENT: --------------------- */
/* ----------------------------END: ---------------------------- */


/* ---------------------------- LOGO ---------------------------- */

.logo {
    font-size: 48px;
    letter-spacing: -0.008em;
    height: 50px;
}

.menu {
    padding: 0;
    margin: 14px 0 0 -6px;
    height: 48px;
    width: 646px;
}

.menu__item {
    line-height: 48px;
    display: inline-block;
    margin-right: 35px;
}

.menu__item:last-child {
    margin-right: 0;
}

/* -------------------- SLIDER: -------------------- */

.slider__content {
    width: 268px;
    float: left;
    margin: 96px 0 0 23px;
}

.slider__h1 {
    font-size: 46px;
    overflow: hidden;
    letter-spacing: 0.0001em;
    word-spacing: 2px;
    margin-bottom: 6px;
    padding-left: 1px;
}

.slider__h2 {
    font-size: 23px;
    letter-spacing: 0.01em;
    color: #edbfff;
    padding-left: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.slider__text {
    margin-top: 4px;
    height: 110px;
    overflow: hidden;

    font-size: 18px;
    line-height: 26px;
    color: #fff;
    width: 270px;
}

.wrapper__phone {
    margin-left: 26px;
    height: 400px;
    float: right;
    position: relative;
}

.slider__img {
    position: absolute;
    top: -23px;
    left: -300px;
}

.slider__play {
    top: 137px;
    left: -152px;
}

.slider__play:hover {
    background: none;
}

.slider__play:active {
    background: url(../img/Play.png) no-repeat;
}

/* ______________________ ABOUT_US: ______________________ */

.about-us__content {
    position: relative;
    display: inline-block;
    width: 155px;
    margin-right: 92px;
}

.about-us__content:nth-child(2) {
    margin-right: 102px;
}

.about-us__content:last-child {
    margin-right: 0;
}

.about-us__h2 {
    font-size: 20px;
    color: #fff;
    letter-spacing: 0.065em;
}

.about-us__icon {
    width: 27px;
    height: 27px;
    background-image: url(../img/sprite_about_us.png);
    position: absolute;
    top: 2px;
    left: -52px;
}

.about-us__content:nth-child(2) .about-us__icon {
    background-position: 1px 0;
}

.about-us__content:nth-child(3) .about-us__icon {
    background-position: 0 0;
}


.about-us__text {
    margin: 3px 0 7px 0;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    height: 146px;
    overflow: hidden;
}

.about-us__link {
    display: block;
    text-align: right;
    font-size: 17px;
    color: #fff;
    margin-right: 10px;
    letter-spacing: 0.014em;
}

/* _________________________ BLOG: _________________________ */

.blog-box {
    display: flex;
    justify-content: space-between;
    padding: 82px 0 70px 9px;
}

.blog-box__left {
    margin: 0 0 0 25px;
    background-color: #fff;
    position: relative;
    height: 272px;
    width: 312px;
    padding: 28px 27px 40px 38px;
    box-sizing: border-box;
    float: left;
}

.blog-box__h2 {
    font-size: 24px;
    text-shadow: none;
}

.blog-box__h2__link {
    display: block;
    color: #ebdfff;
    line-height: 20px;
}

.blog-box__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 18px;
    left: -26px;
    background: url(../img/testimonials_icon.png) no-repeat;
    background-position: 50%;
}

.blog-box__text {
    height: 150px;
    margin-top: 10px;
    line-height: 24px;
    font-size: 16px;
    text-shadow: none;
    overflow: hidden;
    column-width: 120px;
}

.arrow {
    display: none;
}

.blog-box__right {
    padding: 26px 0 0 0;
    width: 333px;
    float: right;
}

.blog-box__right .blog-box__h2 {
    font-size: 30px;
    text-shadow: none;
}

.blog-box__right__post {
    margin: 15px 0 0 66px;
    position: relative;
    font: 16px 'Open Sans';
}

.blog-box__right .blog-box__right__post:nth-child(3) {
    margin: 17px 0 0 66px;
}

.blog-box__right .blog-box__right__post:nth-child(4) {
    margin: 15px 0 17px 66px;
}

.blog-box__right__post .blog-box__icon {
    top: 0px;
    left: -66px;
    background-image: url(../img/post_icon.png);
}

.post__title {
    font-weight: bold;
    display: block;
    height: 25px;
    overflow: hidden;
    text-overflow: clip;
}

.post__text {
    letter-spacing: -0.005em;
    margin: 1px 0;
    text-shadow: none;
    display: block;
    height: 25px;
    overflow: hidden;
    text-overflow: clip;
    width: 255px;
}

.blog-box__right__link__read {
    display: none;
}

.blog-box__right__link__more {
    display: block;
    font-size: 18px;
    color: #454545;
    text-align: right;
    margin-right: 6px;
}

/* -------------------------LOGOS: ------------------------- */

.logos {
    display: inline-block;
    width: 69px;
    height: 64px;
    background: url(../img/logos.png) no-repeat;
}

.content-box__logos .logos:nth-child(2) {
    background-position: -76px 0;
    margin-left: 51px;
    min-width: 72px;
}

.content-box__logos .logos:nth-child(3) {
    background-position: -152px 0;
    width: 65px;
    margin-left: 49px;
}

.content-box__logos .logos:nth-child(4) {
    background-position: -222px 0;
    width: 53px;
    margin-left: 61px;
}

.content-box__logos .logos:nth-child(5) {
    background-position: -279px 0;
    width: 106px;
    margin-left: 50px;
}

.content-box__logos .logos:nth-child(6) {
    background-position: -388px 0;
    width: 79px;
    margin-left: 48px;
}


/* -------------------------FOOTER TOP: ------------------------- */

.box-news__article {
    width: 199px;
    padding-top: 99px;
    display: inline-block;
}

.box-news__comments,
.box-news__copy {
    display: none;
}

.box-news__categories {
    margin: 0 62px 0 2px;
}

.box-news__categories:nth-child(4) {
    margin: 0 56px 0 0;
}

.box-news__categories:last-child {
    margin-right: 0;
}

.box-news__categories:last-child .box-news__categories__h2 {
    margin-left: -1px;
}

.box-news__categories__h2 {
    color: #454545;
    text-shadow: none;
    margin: 2px 0 7px -3px;
    font-size: 22px;
    letter-spacing: 0.03em;
}

.box-news__text {
    height: 170px;
    font-size: 16px;
    color: #787878;
    text-shadow: none;
    line-height: 24px;
    overflow: hidden;
    margin-left: -2px;
}


/*----------------------- FOOTER MENU:  -----------------------*/

.footer-menu {
    margin: 1px 0 1px -7px;
    width: 540px;
}

.footer-menu .menu__item {
    margin-right: 27px;
}

.footer-menu .menu__item:last-child {
    margin-right: 0;
}

.footer-menu .menu__link {
    font-size: 20px;
}

.footer__design {
    display: block;
    text-align: right;
    font: 12px 'Open Sans';
    color: #fff;
    line-height: 55px;
}
