/* ---------------------BACKGROUND: --------------------- */

.bc__header {
    height: 516px;
}

.bc__slider {
    height: 313px;
    background: none;
}

.bc__about-us {
    height: 598px;
    background-image: url(../img/bc_about_us480.png);
    background-repeat: repeat-x;
}

.bc__line__bottom {
    display: none;
}

.bc-footer__menu {
    height: 201px;
    background-image: url(../img/bc_footer480.jpg);
}

/* ---------------------CONTAINER CONTENT: --------------------- */
.content-box {
    padding: 0 18px;
    min-width: 320px;
    max-width: 479px;
    width: 100%;
}

.content-box__top {
    height: 203px;
    padding-top: 63px;
}

.content-box__slider {
    height: 313px;
    padding-top: 93px;
}

.content-box__about-us {
    height: 599px;
    padding-top: 71px;
}

.content-box__blog {
    height: 787px;
    width: 284px;
    margin: 0 auto;
    padding-top: 70px;
}

.content-box__logos {
    height: 421px;
    width: 280px;
    margin: 0 auto;
    padding: 51px 20px;
}

.content-box__footer__top {
    display: none;
}

.content-box__footer__bottom {
    height: 201px;
    padding-top: 20px;
}

/* ---------------------CONTAINER CONTENT: --------------------- */
/* ----------------------------END: ---------------------------- */

.logo__top {
    font-size: 48px;
    letter-spacing: -0.01em;
    margin: 0 auto;
    width: 155px;
    display: block;
}

.wrapper-menu {
    width: 280px;
    margin: 14px auto 0;
}

.content-box__top .menu {
    display: block;
    width: 280px;
    height: 47px;
    padding: 0;
    position: absolute;
}

.content-box__top .menu:hover {
    height: 257px;
}

.content-box__top .menu__item {
    display: none;
    height: 43px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.content-box__top .menu__item:first-child {
    display: block;
    height: 47px;
    padding-top: 13px;
}

.content-box__top .menu__item:nth-child(2) {
    padding-top: 6px;
    height: 42px;
}

.content-box__top .menu__item:nth-child(3) {
    padding-top: 6px;
    height: 41px;
}

.content-box__top .menu__item:nth-child(4) {
    padding-top: 8px;
    height: 42px;
}

.content-box__top .menu__item:nth-child(5) {
    padding-top: 8px;
    height: 44px;
}

.content-box__top .menu:hover .menu__item {
    display: block;
}

/* ----------------------------SLIDER: ---------------------------- */

.slider__content {
    width: 203px;
    margin: 0 auto;
}

.slider__h1 {
    letter-spacing: 0.03em;
    word-spacing: 0.02em;
    margin: 0 0 2px 7px;
    width: 203px;
}

.slider__h2 {
    display: block;
    width: 203px;
    margin-left: 6px;
    color: #ebdfff;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
}

.slider__text {
    display: none;
}

.wrapper__phone {
    display: none;
}

/* ----------------------------ABOUT-US: ---------------------------- */

.about-us__content {
    width: 284px;
    margin: 0 auto;
    margin-bottom: 24px;
    position: relative;
}

.about-us__content:nth-child(2) {
    margin-bottom: 39px;
}

.about-us__content:nth-child(2) .about-us__text {
    margin-bottom: 17px;
}

.about-us__content:nth-child(3) .about-us__text {
    margin-bottom: 17px;
}

.about-us__icon {
    width: 27px;
    height: 27px;
    background-image: url(../img/sprite_about_us.png);
    position: absolute;
    top: 2px;
    left: 13px;
}

.about-us__h2 {
    color: #fff;
    margin-left: 64px;
}

.about-us__text {
    height: 70px;
    width: 195px;
    color: #fff;
    margin: 0 0 16px 64px;
    line-height: 24px;
    overflow: hidden;
}

.about-us__link {
    display: block;
    font-size: 18px;
    text-align: right;
    padding-right: 8px;
}

/* ----------------------------BLOG: ---------------------------- */

.blog-box__left {
    width: 257px;
    height: 273px;
    background-color: #fff;
    margin-left: 26px;
    padding: 26px 40px 0 36px;
    box-sizing: border-box;
    position: relative;
}

.blog-box__h2 {
    font-size: 22px;
    text-shadow: none;
    letter-spacing: 0.02em;
}

.blog-box__h2__link {
    display: block;
    color: #ebdfff;
    margin-top: -1px;
    letter-spacing: 0.03em;
}

.blog-box__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 19px;
    left: -24px;
    background: url(../img/testimonials_icon.png) no-repeat;
    background-position: 50%;
}

.blog-box__text {
    height: 170px;
    margin-top: 3px;
    margin-left: 3px;
    line-height: 24px;
    font-size: 16px;
    text-shadow: none;
    overflow: hidden;
}

.blog-box__right {
    padding: 87px 0 0 0;
    margin-left: 1px;
}

.blog-box__right .blog-box__h2 {
    font-size: 30px;
    text-shadow: none;
    letter-spacing: 0.001em;
}

.blog-box__right__post {
    margin: 13px 0 0 66px;
    position: relative;
    font: 16px 'Open Sans';
}

.blog-box__right__post .blog-box__icon {
    top: 0px;
    left: -65px;
    background-image: url(../img/post_icon.png);
}

.post__title {
    font-weight: bold;
    display: block;
    height: 25px;
    width: 155px;
    overflow: hidden;
}

.post__text {
    letter-spacing: -0.005em;
    margin: 1px 0;
    text-shadow: none;
    display: block;
    height: 25px;
    width: 215px;
    overflow: hidden;
}

.blog-box__right .blog-box__right__post:nth-child(3) {
    margin-top: 14px;
}

.blog-box__right .blog-box__right__post:nth-child(4) {
    margin-top: 20px;
    margin-bottom: 17px;
}

.blog-box__right__link__read {
    display: none;
}

.blog-box__right__link__more {
    font-size: 17px;
    color: #454545;
    display: block;
    text-align: right;
    margin-right: 7px;
    letter-spacing: 0.02em;
}

/* ----------------------------LOGOS: ---------------------------- */

.logos {
    width: 69px;
    height: 64px;
    display: inline-block;
    background: url(../img/logos.png) no-repeat;
}

.content-box__logos .logos:first-child {
    margin-left: 42px;
}

.content-box__logos .logos:nth-child(2) {
    background-position: -75px 0;
    margin: 0 0 0 51px;
    width: 72px;
}

.content-box__logos .logos:nth-child(3) {
    background-position: -152px 0;
    width: 65px;
    margin: 57px 0 0 50px;
}

.content-box__logos .logos:nth-child(4) {
    background-position: -222px 0;
    width: 53px;
    margin: 57px 0 0 61px;
}

.content-box__logos .logos:nth-child(5) {
    background-position: -279px 0;
    width: 106px;
    margin: 38px 0 0 22px;
}

.content-box__logos .logos:nth-child(6) {
    background-position: -388px 0;
    width: 79px;
    margin: 38px 0 0 48px;
}

/* -------------------------FOOTER TOP: ------------------------- */
/*----------------------- FOOTER MENU:  -----------------------*/


.footer-menu {
    display: none;
}

.footer-menu .menu__link {
    font-size: 20px;
}

.footer__design {
    display: block;
    text-align: center;
    font: 12px 'Open Sans';
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    line-height: 55px;
}
